/* General Style */
.root {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-base: #222831;
    -fx-text-fill: #EEEEEE;
}

.text{
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: #EEEEEE;
}

.text{
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: #EEEEEE;
}

.button {
    -fx-background-color: #454b54;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-padding: 8 16;
    -fx-effect: dropshadow(gaussian, #2d3238, 10, 0.05, 1, 1);
}

.button:hover {
    -fx-border-color: #00ADB5;
    -fx-effect: dropshadow(gaussian, #2d3238, 10, 0.05, 1, 1);
}


.slider {
    -fx-base: #393E46;
    -fx-accent: #213555;
}

.slider .track {
    -fx-background-color: #5c6470;
}

.slider .thumb {
    -fx-background-color: #818a98;

}

.slider .thumb:hover {
    -fx-background-color: #BCCCDC;
    -fx-border-color: #00ADB5;
    -fx-border-radius: 100px
}

.check-box {
    -fx-border-color: #00ADB5;
    -fx-border-radius: 5px;
    -fx-background-color: #9AA6B2;
    -fx-background-radius: 5px;
}

.check-box:hover{
    -fx-background-color: #00ADB5;

}

.check-box:selected {
    -fx-text-fill: #9AA6B2;
}



.list-view {
    -fx-background-color: #5c6470;
    -fx-border-color: #3C434F;
    -fx-border-width: 1px;
    -fx-padding: 10px;
}

.list-view .cell {
    -fx-background-color: #393E46;
    -fx-border-radius: 5px;
    -fx-padding: 8 16;
}

.list-view .cell:filled:selected {
    -fx-border-color: #00ADB5;
}

/*
.tab-pane {
    -fx-border-color: #7a7a7a;
    -fx-border-radius: 5px;
    -fx-background-color: #D9EAFD;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, #7a7a7a, 10, 0.05, 2, 2);
}

.tab {
    -fx-background-color: #D9EAFD;
    -fx-text-fill: #EEEEEE;
}

.tab:selected {
    -fx-background-color: #9AA6B2;
    -fx-text-fill: black;
}

*/

#leftPane {
    -fx-background-color: #2d3238;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #2d3238, 10, 0.05, 1, 1);
}

#rightPane {
    -fx-background-color: #2d3238;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #2d3238, 10, 0.05, 1, 1);
}

#centerPane{
    -fx-background-color: #2d3238;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #2d3238, 10, 0.05, 1, 0, 0.1);
}

#topPane {
    -fx-background-color: #2d3238;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, #2d3238, 10, 0.05, 1, 0, 0.1);
}


.canvas {
    -fx-background-color: #EEE;
    -fx-border-color: #BCCCDC;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}


.canvas:hover {
    -fx-background-color: #D9EAFD;
}


.canvas:focused {
    -fx-background-color: #BCCCDC;
    -fx-border-color: #9AA6B2;
}

.image-view{
    -fx-border-color: black;
}



/* Padding and Insets */
.padding {
    -fx-padding: 10px;
}

.insets {
    -fx-margin: 10px;
}
